@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

/* Header */
h2 {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
}

/* Navigation */
.main-navigation .nav-item a.active {
  border-bottom: 1px solid #00647b;
  color: #00647b;
}
.main-navigation .nav-item a {
  color: #00647b;
  padding: 10px 15px;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-family: 'Inconsolata', sans-serif;
  font-size: 20px;
}

.main-navigation .nav-item a:hover {
  text-decoration: none;
}

/* Content Styles*/
.react-pic img {
  width: 500px;
}

.layout-main-wrapper {
  margin: 60px 0px;
  flex-grow: 1;
}

/* Footer */
footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #253037;
  color: #51a4b5;
}

/* Home */
.react-pic {
  width: min-content;
  float: right;
}

.react-body p {
  color: #ffffff;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
}


